.page {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.description {
    display: none;
    margin-bottom: .5rem !important;
    color: #42b983 !important;
    font-size: 1.3rem !important;
}